@import './fonts';
@import './mixins';
@import './colors';
@import './constants';
@import './main-classes';

* {
  box-sizing: border-box;
}

html,
body,
#root {
  position: relative;
  width: 100%;
  font-family: SegoeUI-Regular;
  font-size: $base-font;
  margin: 0px;
}

.container {
  width: calc(100% - 32px);
  margin: auto;

  @media screen and (min-width: $sm) {
    width: 540px;
  }

  @media screen and (min-width: $md) {
    width: 720px;
  }

  @media screen and (min-width: $lg) {
    width: 960px;
  }

  @media screen and (min-width: $xl) {
    width: 1140px;
  }

  @media screen and (min-width: $xxl) {
    width: 1520px;
  }
}

